.enter {
  transform: scale(0.1);
}

.enterActive {
  transform: scale(1);
  transition: all 500ms linear 500ms;
}

.exit {
  transform: scale(1);
}

.exitActive {
  transform: scale(0.1);
  transition: all 5000ms linear 500ms;
}
