.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.LabelInput {
  text-align: center;
  padding: 10px;
  width: 30%;
}

.submit {
  align-self: center;
}

.Title {
  color: #000;
}

.TitleDark {
  color: #aaa;
}
