.Header {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #3c6dcc;
  justify-content: space-around;
}

.Title {
  color: #fff;
  text-align: center;
}

.TitleDark {
  composes: Header;
  background-color: darkblue;
  color: #aaa;
}
.Navigation {
  align-items: flex-end;
}
.NaviLink {
  margin-right: 6px;
  text-decoration: none;
  border: none;
  background-color: aliceblue;
  font-size: 20px;
  padding: 0 8px;
  border-radius: 5px;
  color: rgb(104, 104, 233);
  cursor: pointer;
}

.Button {
  margin: 10px;
  text-align: right;
  border: none;
  background-color: rgb(104, 104, 233);
  font-size: 20px;
  padding: 0 4px;
  border-radius: 5px;
  color: aliceblue;
  cursor: pointer;
}

.ButtonDark {
  composes: Button;
  background-color: aliceblue;
  color: rgb(104, 104, 233);
}

.TextDark {
  color: #aaa;
}
